@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"), url(".../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"), url(".../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"), url(".../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

 :root {
    --basic-black: #000000;
    --basic-extra-dark: #242424;
    --basic-green: #00CA74;
    --special-green: #00BC6C;
    --dark-green: #00AA62;
    --basic-silver: #EEEEEE;
    --basic-grey: #DFDFDF;
    --special-grey: #D5D5D5;
    --dark-grey: #666666;
    --basic-white: #FFFFFF;
    --basic-red: #FB565A;
    --special-red: #E74246;
    --dark-red: #D7373B;
    --basic-yellow: #EFC849;
    --special-yellow: #EAB534;
    --dark-yellow: #E5A722;
    --special-black: rgba(0, 1, 1, 0.1);
    --special-white: rgba(0, 0, 0, 0.0001);
    --gray86: #DBDBDB;
    --stock-grey: #D7DCDE;
    --new-grey: #444444;
    --gray: #C1C1C1;
}

.page-body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    background-color: var(--basic-white);
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}

.social-1 {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.project-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    height: 182px;
    border-bottom: 2px solid var(--basic-silver);
    border-top: 2px solid var(--basic-silver);
    margin-bottom: 86px;
}

.project-items::before {
    content: "";
    height: 52px;
    width: 2px;
    background-color: var(--basic-silver);
    display: block;
    position: relative;
    right: 40px;
    top: 60px;
}

.project-items-1 {
    margin: auto 0;
}

.basket-item::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url(../img/icon/cart-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    right: 25px;
    bottom: 1px;
}

.map {
    background-image: url(../img/map/map1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%
}

.header-h1 {
    text-align: center;
    line-height: 55px;
    margin-bottom: 104px;
    font-size: 55px;
    font-weight: 500;
}

.sale {
    text-align: left;
    padding-left: 139px;
}

.head-sort {
    display: none;
}

.cards-item {
    height: 578px;
}

.sort-container {
    display: flex;
    margin-left: 90px;
    margin-top: 55px;
}

.sort-list {
    display: flex;
    margin: 0;
}

.head-sort {
    margin: 0;
}

.head-sort-2 {
    margin: 0;
    margin-right: 240px;
    text-transform: uppercase;
    font-weight: 700;
}

.page-number {
    display: flex;
}

.number {
    padding: 17px 20px 15px 20px;
}

.sort-item {
    text-transform: uppercase;
    margin-right: 25px;
}

.button-sort {
    margin-left: 20px;
}

.sort-button {
    margin-right: 18px;
}

.logo-contact {
    position: relative;
    width: 231px;
    height: 190px;
    left: 650px;
    top: 100px;
}

.info-contact {
    width: 319px;
    height: 308px;
    background-color: var(--basic-white);
    position: absolute;
    margin-top: 54px;
}

.footer-container {
    padding-top: 49px;
    padding-left: 50px;
}

.footer-contacts {
    height: 416px;
}

.contact-head {
    display: none;
}

.main-grid {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.social-1 {
    text-align: center;
}

.social {
    margin-top: 68px;
}

.main-navigation {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    margin-top: 45px;
    align-items: center;
}

.head-social {
    display: none;
}

.button-more {
    background-color: var(--basic-red);
    text-decoration: none;
    color: var(--basic-white);
    line-height: 18px;
    border: none;
    border-radius: 3px;
    padding: 17px 54px 15px 54px;
}

.icon-social {
    display: flex;
    margin-bottom: 68px;
}

.social-link {
    margin-right: 9px;
}

.cards {
    display: grid;
    grid-template-columns: min-content min-content;
    column-gap: 41px;
    row-gap: 71px;
    justify-content: center;
}

.motivation {
    font-weight: 700;
    font-size: 36px;
}

.princip {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.filters {
    width: 260px;
}

.containers {
    width: 1160px;
    margin: 0 auto;
    padding: 0 140px;
}

.main-header {
    background-color: var(--basic-silver);
}

.site-navigation {
    display: flex;
    list-style: none;
    padding: 0;
    padding-left: 200px;
    margin: 0;
}

.service-list {
    margin: 0;
    padding: 0;
}

.principles-container {
    display: grid;
    grid-template-columns: 1fr min-content;
}

.service-list {
    display: flex;
    margin-top: 80px;
}

.service-items {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.nav-item {
    text-decoration: none;
    color: var(--basic-black);
    line-height: 30px;
    font-weight: 500;
    margin-right: 45px;
    text-transform: uppercase;
}

.advant-head {
    display: none;
}

.service-head {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    order: -1;
    margin: 0;
    padding: 0;
    margin-top: 25px
}

.service-par {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 32px;
}

.img-service {
    order: -2;
}

.cart-icon {
    margin-right: 25px;
}

.basket-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.service {
    border-bottom: 2px solid var(--basic-silver);
    padding-bottom: 80px;
}

.advant {
    padding-top: 73px;
}

.slide-button {
    list-style: none;
    display: flex;
    width: min-content;
    margin: 0;
    padding: 0;
    position: relative;
    left: 900px;
    bottom: 120px;
    align-items: flex-end;
}

.princip-par {
    margin-top: 78px;
    margin-bottom: 25px;
}

.princip-par-2 {
    margin: 0;
    margin-bottom: 38px;
}

.site-head {
    display: none;
}

.button-slide {
    border: none;
    background-color: inherit;
}

.service-items2::before {
    display: block;
    content: "";
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    position: relative;
    right: 37px;
    top: 12px;
}

.head-service {
    display: none;
}

.head-princip {
    display: none;
}

.basket-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--basic-black);
    line-height: 30px;
    font-weight: 500;
}

.nav-item:hover {
    color: var(--basic-red);
}

.nav-item:focus {
    opacity: 30%;
    color: var(--basic-black);
}

.active {
    border-bottom: 2px solid var(--basic-red);
}

.princip-par {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.button {
    background-color: var(--basic-red);
    text-decoration: none;
    color: var(--basic-white);
    line-height: 18px;
    border: none;
    border-radius: 3px;
    width: min-content;
    padding: 17px 40px 15px 40px;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--special-red);
}

.button:focus {
    background-color: var(--dark-red);
}

.button:focus .text {
    opacity: 30%
}

.service-list {
    list-style: none;
}

.button-2 {
    background-color: var(--basic-green);
    text-decoration: none;
    color: #FFFFFF;
    line-height: 18px;
    border-radius: 3px;
    width: min-content;
    padding: 17px 40px 15px 40px;
    text-transform: uppercase;
}

.button-2:hover {
    background-color: var(--special-green);
}

.button-2:focus {
    background-color: var(--dark-green);
}

.button-2:focus .text {
    opacity: 30%;
}

.button-3 {
    background-color: var(--basic-yellow);
    text-decoration: none;
    color: #FFFFFF;
    line-height: 18px;
    border-radius: 3px;
    width: min-content;
    padding: 17px 40px 15px 40px;
    text-transform: uppercase;
}

.button-3:hover {
    background-color: var(--special-yellow);
}

.button-3:focus {
    background-color: var(--dark-yellow);
}

.button-3:focus .text {
    opacity: 30%;
}

.button-4 {
    background-color: var(--basic-silver);
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-black);
    border-radius: 3px;
    padding: 17px 90px 15px 90px;
}

.button-4:hover {
    background-color: var(--basic-grey);
}

.button-4:focus {
    background-color: var(--special-grey);
    opacity: 30%;
}

.flex {
    display: flex;
}

.grid-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 31px;
    margin-left: 18px;
}

.indicators {
    margin-top: 31px;
    border-spacing: 50px;
}

.indic-row {
    margin-bottom: 20px;
}

.procent-2 {
    position: relative;
    font-size: 26px;
    bottom: 15px;
}

.advant-par {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin: 0;
}

.advant-par-2 {
    margin: 0;
    margin-top: 32px;
}

.advant-head-2 {
    margin: 0;
    margin-top: 40px;
    text-transform: uppercase;
}

.service-list2 {
    list-style: none;
    margin: 0;
    margin-top: 23px;
}

.advantages {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding-bottom: 73px;
}

.logo:focus {
    opacity: 30%;
}

.statistic {
    padding-top: 39px;
}

.stat-par {
    margin: 0;
    margin-top: 37px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
}

.indic-row {
    font-size: 45px;
}

.project-head {
    display: none;
}

.procent {
    font-size: 26px;
    position: relative;
    bottom: 6px;
    font-weight: 700;
}

.t-number,
.t-numbers,
.procent {
    margin: 0;
}

.grid-container {
    display: flex;
    margin-bottom: 30px;
}

.indic-row-2 {
    line-height: 16px;
}

.t-number {
    font-size: 45px;
    font-weight: 700;
}

.footer-head {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 23px
}

.footer-head-2 {
    line-height: 18px;
    color: var(--dark-grey);
    margin: 0;
}

.social-par {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 75px;
    font-weight: 700;
}

.social-par-2 {
    margin: 0;
    margin-top: 10px;
}

.field-head {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.par-contact {
    display: flex;
    flex-direction: column;
    width: 230;
    height: 72px;
    justify-content: space-between;
    margin-bottom: 37px;
}

.field-list,
.sort-list,
.cards {
    list-style: none;
}

.number-footer {
    color: var(--dark-grey);
    margin: 0;
}

.sort-item {
    text-decoration: none;
    color: var(--basic-black);
    font-size: 14px;
    line-height: 18px;
    opacity: 30%
}

.sort-item:hover {
    opacity: 60%;
}

.sort-item:focus,
.selected {
    opacity: 100%;
}

.decor {
    position: relative;
    opacity: 12%;
    width: 360px;
    height: 40px;
}

.cards-item:hover .decor {
    opacity: 100%
}

.descript {
    background-color: var(--basic-silver)
}

.cards-head {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0;
    margin-top: 26px;
    margin-bottom: 12px;
}

.cards-descrpit {
    line-height: 18px;
    color: var(--dark-grey);
    margin: 0;
    margin-bottom: 32px;
}

.price-button {
    font-weight: 500;
    font-size: 16px;
    background-color: var(--basic-red);
    border-radius: 3px;
    color: var(--basic-white);
    line-height: 18px;
    border: none;
    width: 200px;
    padding: 17px 0 15px 0;
}

.price-button:hover {
    background-color: var(--special-red);
}

.price-button:focus {
    background-color: var(--dark-red);
}

.descript {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 235px;
    width: 360px;
    height: 231px;
    align-items: center;
}

.page-number {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 90px;
    margin-top: 95px;
}

.number {
    text-decoration: none;
    color: var(--basic-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--basic-silver);
    border-radius: 3px;
    margin-right: 11px;
}

.number:hover {
    background-color: var(--basic-grey)
}

.sort {
    margin-bottom: 60px;
}

.number:focus {
    background: var(--special-grey);
    box-shadow: inset 0px 3px 0px var(--special-black);
}

.active-page {
    background-color: rgba(0, 0, 0, 0.0001);
    border: 3px solid var(--gray86);
    padding-top: 15px;
}

.text {
    font-weight: 500;
}

.popup-head {
    font-weight: 700;
    font-size: 45px;
    margin: 0;
    margin-bottom: 37px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.popup {
    width: 960px;
    height: 590px;
}

.button-close {
    border: none;
    background-color: inherit;
    position: relative;
    left: 750px;
    bottom: 60px;
}

.appointment-item {
    font-weight: 700;
}

label {
    margin-bottom: 10px;
}

.name-form,
.email-form {
    width: 344px;
    border: 2px solid var(--stock-grey);
    border-radius: 3px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.5;
    margin-top: 9px;
}

.popup-container {
    display: flex;
    margin-bottom: 34px;
}

.popup-align {
    margin-left: 100px;
    margin-top: 63px;
}

.appointment-item {
    margin: 0;
    margin-right: 40px;
}

.item-3 {
    margin-bottom: -20px;
}

.text-area-popup {
    width: 760px;
    height: 118px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    opacity: 0.5;
    border: 2px solid var(--stock-grey);
    border-radius: 3px;
    resize: none;
    padding-top: 16px;
    padding-left: 16px;
    margin-top: 9px;
}

.button-popup {
    background-color: var(--basic-red);
    text-decoration: none;
    color: var(--basic-white);
    line-height: 18px;
    border: none;
    border-radius: 3px;
    padding: 17px 54px 15px 54px;
    width: 259px;
}